{% render "sales_widget" %}

<div class="pv-sales-block"></div>
{% schema %}
{
  "name": "Sales Widget",
  "target": "section",
   "javascript": "sales_widget.js",
   "stylesheet": "sales_widget.css"
}
{% endschema %}
